[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
flask = "*"
flask-sqlalchemy = "3.0.3"
sqlalchemy = "*"
Werkzeug = "2.2.2"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-session = "*"
flask-authlib-client = "*"
requests = "*"
python-dotenv = "*"
flask-migrate = "*"
faker = "*"

[requires]
python_version = "3.12"

[dev-packages]
